.navbar {
  background-color: #333;
  color: #fff;
  padding: 1em;
  text-align: center;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: left;
}

.navbar li {
  margin-top: 10px;
  margin-left: 50px
}

.navbar a {
  color: #fff;
  text-decoration: none;
}

.navbar a:hover {
  color: #ccc;
}